@page "/"
@using BlazorCountdown.Client.Shared

<PageTitle>Countdown</PageTitle>

<div class="row pt-5">
    <div class="col-sm-6 d-flex flex-column gap-3 mx-auto">
        <img alt="logo" class="mx-auto" src="pokemon.png" style="height: 150px;" />

        <h1 class="h4 text-center text-white">Launching soon</h1>

        <CountdownTimer />
    </div>
</div>